Package: com.proxy.tunnel
Name: rbx-tunnel
Version: 1.1
Architecture: iphoneos-arm
Description: SOCKS5 tunnel wrapper for Roblox traffic via crossover.proxy.rlwy.net
Maintainer: Your Name <you@example.com>
Author: Your Name
Section: tweaks
Depends: mobilesubstrate
Filter: { Bundles = ( "com.roblox.robloxmonile" ); }
